.react-datepicker__input-container input {
  background-color: #4d5152;
  color: white;
  border: 1px solid #4d5152;
  border-radius: 2px;
  max-width: 145px;
  padding-left: 5px;
  font-family: "IBM Plex Sans", "Roboto", "Helvetica Neue", "Arial",
    "sans-serif";
  font-size: 15px;
}
